body {
  width: 100%;
  background-color: lightblue;
}

table {
  margin: 0 auto;
}

h1 {
  text-align: center;
}

table, th, td {
  border: 1px solid black;
  padding: 3px;
  text-align: center;
}
